{
  "root": true,
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "html",
    "vue"
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "no-restricted-properties": "off"
  },
  "overrides": [
    {
      "files": ["tests/**/*.js"],
      "env": {
        "jest": true
      },
      "globals": {
        "Vue": true,
        "expect": true
      },
      "rules": {
        "no-unused-expressions": "off"
      }
    }
  ]
}
